<div class="row">
  <div class="portlet portlet-default">
    <div class="portlet-header">
      <h4 class="portlet-title">
        Point Submissions
      </h4>
    </div>

    {{#data-table searching=true paging=true ordering=true initOrderDir="desc"}}
      <thead>
        <tr role="row">
          <th aria-label="Date">Date</th>
          <th aria-label="Player">Player</th>
          <th aria-label="Caegory">Caegory</th>
          <th aria-label="Action">Action</th>
          <th aria-label="Points">Points</th>
          <th aria-label="Status">Status</th>
          <th aria-label="Proof">Proof</th>
        </tr>
      </thead>
      <tbody>
        {{#each model.pointSubmissions as |pointSubmission|}}
          <tr role="row" class="odd">
            <td>{{pointSubmission.date}}</td>
            <td>{{pointSubmission.player}}</td>
            <td>{{pointSubmission.category}}</td>
            <td>{{pointSubmission.action}}</td>
            <td>{{pointSubmission.points}}</td>
            <td>{{pointSubmission.status}}</td>
            <td>{{pointSubmission.proof}}</td>
          </tr>
        {{/each}}
      </tbody>
    {{/data-table}}
  </div>
</div>
