<table 
  class="table table-striped table-bordered table-hover ui-datatable" 
  data-length-change={{lengthChange}}
  data-info={{info}}
  data-paging={{paging}}
  data-ordering={{ordering}}
  data-order={{order}}
  data-page-length={{pageLength}}
  data-ajax={{ajaxPath}}
  data-searching={{searching}}
>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    <thead>
      <tr> <th></th> </tr>
    </thead>
    <tbody> </tbody>
  {{/if}}
</table>
