<div class="row">
  <h2>Team {{ model.id }}</h2>

  <div class="portlet portlet-default">
    <div class="portlet-header">
      <h4 class="portlet-title"> Roster </h4>
    </div>

    <table class="table table-striped table-bordered table-hover ui-datatable dataTable dataTable-helper" data-global-search="false" data-length-change="false" data-info="false" data-paging="false" data-page-length="10" id="DataTables_Table_2" role="grid">
      <thead>
        <tr role="row">
          <th aria-label="Player">Player</th>
          <th aria-label="Position">Position</th>
          <th aria-label="Legal Points">Legal Points</th>
          <th aria-label="Fighting Points">Fighting Points</th>
          <th aria-label="Career Points">Career Points</th>
          <th aria-label="Marital Points">Marital Points</th>
          <th aria-label="Health Points">Health Points</th>
          <th aria-label="Other Points">Other Points</th>
          <th aria-label="Total Points">Total Points</th>
        </tr>
      </thead>
      <tbody>

        {{#each model.roster as |player|}}
          <tr role="row" class="odd">
            <td>{{player.name}}</td>
            <td>{{player.position}}</td>
            <td>{{player.points.legal}}</td>
            <td>{{player.points.fighting}}</td>
            <td>{{player.points.career}}</td>
            <td>{{player.points.marital}}</td>
            <td>{{player.points.health}}</td>
            <td>{{player.points.other}}</td>
            <td>{{player.points.total}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="portlet portlet-default">
    <div class="portlet-header">
      <h4 class="portlet-title"> Point Submissions </h4>
    </div>

    <table class="table table-striped table-bordered table-hover ui-datatable dataTable dataTable-helper" data-global-search="false" data-length-change="false" data-info="false" data-paging="false" data-page-length="10" id="DataTables_Table_2" role="grid">
      <thead>
        <tr role="row">
          <th aria-label="Date">Date</th>
          <th aria-label="Player">Player</th>
          <th aria-label="Caegory">Caegory</th>
          <th aria-label="Action">Action</th>
          <th aria-label="Points">Points</th>
          <th aria-label="Status">Status</th>
          <th aria-label="Proof">Proof</th>
        </tr>
      </thead>
      <tbody>

        {{#each model.pointSubmissions as |pointSubmission|}}
          <tr role="row" class="odd">
            <td>{{pointSubmission.date}}</td>
            <td>{{pointSubmission.player}}</td>
            <td>{{pointSubmission.category}}</td>
            <td>{{pointSubmission.action}}</td>
            <td>{{pointSubmission.points}}</td>
            <td>{{pointSubmission.status}}</td>
            <td>{{pointSubmission.proof}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
