<div class="row">
  <h2>{{ model.title }}</h2>

  <div class="portlet portlet-default">
    <div class="portlet-header">
      <h4 class="portlet-title"> Roster </h4>
    </div>

    {{#data-table}}
      <thead>
        <tr role="row">
          <th aria-label="Player">Player</th>
          <th aria-label="Position">Position</th>
          <th aria-label="Legal Points">Legal Points</th>
          <th aria-label="Fighting Points">Fighting Points</th>
          <th aria-label="Career Points">Career Points</th>
          <th aria-label="Marital Points">Marital Points</th>
          <th aria-label="Health Points">Health Points</th>
          <th aria-label="Other Points">Other Points</th>
          <th aria-label="Total Points">Total Points</th>
        </tr>
      </thead>
      <tbody>

        {{#each model.rosterSlots as |rosterSlot|}}
          <tr role="row" class="odd">
            <td>{{rosterSlot.player.first_name}} {{rosterSlot.player.last_name}}</td>
            <td>{{rosterSlot.leaguePosition.title}}</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
          </tr>
        {{/each}}
      </tbody>
    {{/data-table}}
  </div>

  <div class="portlet portlet-default">
    <div class="portlet-header">
      <h4 class="portlet-title">
        Point Submissions
        <a href="/leagues/{{ model.id }}/points/new" class="pull-right fa fa-plus">&nbsp;&nbsp;Submit Points</a>
      </h4>
    </div>

    {{#data-table ordering=true searching=true paging=true}}
      <thead>
        <tr role="row">
          <th aria-label="Date">Date</th>
          <th aria-label="Player">Player</th>
          <th aria-label="Caegory">Caegory</th>
          <th aria-label="Action">Action</th>
          <th aria-label="Points">Points</th>
          <th aria-label="Status">Status</th>
          <th aria-label="Proof">Proof</th>
        </tr>
      </thead>
      <tbody>

        {{#each model.pointSubmissions as |pointSubmission|}}
          <tr role="row" class="odd">
            <td>{{pointSubmission.date}}</td>
            <td>{{pointSubmission.player}}</td>
            <td>{{pointSubmission.category}}</td>
            <td>{{pointSubmission.action}}</td>
            <td>{{pointSubmission.points}}</td>
            <td>{{pointSubmission.status}}</td>
            <td>{{pointSubmission.proof}}</td>
          </tr>
        {{/each}}
      </tbody>
    {{/data-table}}
  </div>
</div>
